.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
  color: var(--primary-color);

  h1 {
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    img {
      height: 1.5em;
      width: 1.5em;
      margin-left: -0.5em;
    }
  }
}

.fileInput {
  cursor: pointer;

  &.focused,
  &:hover {
    border-color: var(--secondary-color);
  }

  &.dragAccept {
    border-color: var(--success-color);
  }

  &.dragReject {
    border-color: var(--error-color);
  }
}

.form {
  display: flex;
  flex-direction: column;
  label {
    font-size: small;
    font-weight: 600;
    color: black;
  }

  textarea {
    padding: 10px;
    border: 1px solid black;
    min-width: calc(100% - 22px);
    max-width: calc(100% - 22px);
  }
}

.help {
  margin-top: 40px;
  font-size: small;
  color: black;

  h2 {
    color: var(--secondary-color);
    font-size: medium;
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li::before {
      content: "- ";
    }
  }
}
